<div class="container text-center">
  <ng-container *ngIf="state==0">
    <h1 class="text-center display-2  my-4 my-md-5 pt-5 pd-3">言不由衷</h1>
    <p class="h3 mb-2">尾牙遊戲訓練</p>
  </ng-container>

  <app-game *ngIf="state!=0"></app-game>
  <button class="btn btn-lg btn-primary my-5" *ngIf="state==0" (click)="go()">
    60秒挑戰GO！
  </button>
  <p *ngIf="maxCount!=null&&state==0">最高得分：{{maxCount}}</p>
  <p *ngIf="maxContinueCount!=null&&state==0">最高連續答對：{{maxContinueCount}}</p>
  <app-ad [ad]="ad"></app-ad>
</div>




<router-outlet></router-outlet>
