/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

*{
  box-sizing: border-box;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  background-color:white;
  color:$gray-600;
}

.board{
  height: 50vh;
  .text{
    font-size: 72px;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black,
                -1px 1px 0 black, 1px -1px 0 black;
  }
}

.adLink{
  font-size: 24px;
}

.ad:hover{
    // border:solid 1px green;
    background-color: rgb(152, 251, 152 , 0.2);
  }

